<ion-view title="Game">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-outline"
                ng-click="openNewGameModal()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">


        <script id="newGameModal.html" type="text/ng-template">
            <div class="modal">
                <ion-header-bar class="bar-positive">
                    <a class="button icon-left ion-ios7-arrow-left button-clear"
                       ng-click="closeNewGameModal()">Back</a>

                    <h1 class="title">New game</h1>
                </ion-header-bar>
                <ion-content>
                    <div class="list list-inset">
                        <!--<div class="bar bar-subheader">
                            <h2 class="title">Team 1</h2>
                        </div>-->

                        <div class="list">


                            <div class="item item-divider">
                                Team 1
                            </div>

                            <a ng-repeat="player in teams[1]" class="item">
                                {{player.name}}
                            </a>
                            <a class="item">
                                <button class="button button-small" ng-click="openAddTeamPlayerModal(1)">
                                    <i class="icon ion-android-add-contact"></i>
                                    Add player
                                </button>
                            </a>

                            <div class="item item-divider">
                                Team 2
                            </div>

                            <a ng-repeat="player in teams[2]" class="item">
                                {{player.name}}
                            </a>
                            <a class="item">
                                <button class="button button-small" ng-click="openAddTeamPlayerModal(2)">
                                    <i class="icon ion-android-add-contact"></i>
                                    Add player
                                </button>
                            </a>
                        </div>

                        <button class="button button-block button-balanced"
                                ng-disabled="teams[1].length===0 || teams[2].length===0" ng-click="startGame()">
                            Start game
                        </button>
                    </div>
                </ion-content>
            </div>
        </script>


        <script id="addTeamPlayerModal.html" type="text/ng-template">
            <div class="modal">
                <ion-header-bar class="bar-positive">
                    <a class="button icon-left ion-ios7-arrow-left button-clear"
                       ng-click="closeAddTeamPlayerModal()">Back</a>

                    <h1 class="title">Add player to Team {{selectedTeam}}</h1>
                </ion-header-bar>
                <ion-content class="has-header">
                    <ion-list show-delete="showDelete">
                        <ion-item ng-repeat="player in players" ng-click="addTeamPlayer(player)"
                                  class="item-icon-right">
                            {{player.name}}
                        </ion-item>
                    </ion-list>
                </ion-content>
            </div>
        </script>


    </ion-content>
</ion-view>
