<ion-view title="Players">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-minus-outline"
                ng-click="showDelete = !showDelete"></button>
        <a href="#/app/addPlayer" class="button button-icon icon ion-ios7-plus-outline"></a>

    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-list show-delete="showDelete">
            <ion-item ng-repeat="player in players" href="#/app/players/{{player.id}}"
                    class="item-icon-right">
                {{player.name}}
                <i class="icon ion-ios7-arrow-right"></i>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="removePlayer(player.id)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>




