<ion-view title="Players">

    <div class="modal">

        <!-- Modal header bar -->
        <!--
                <ion-header-bar class="bar-secondary">
                    <h1 class="title">New Task</h1>
                    <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
                </ion-header-bar>
        -->

        <!-- Modal content area -->
        <ion-content ng-controller="PlayersCtrl">

            <form>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Name of player" ng-model="playerName">
                    </label>
                </div>

                <div class="padding">
                    <button ng-click="addPlayer()" class="button button-block button-positive"
                            ng-disabled="playerName.length === 0">Add new player
                    </button>
                </div>


            </form>
            <!--
                <p><input type="text" ng-model="searchPlayers" placeholder="Quick search"></p>
        -->

            <ul>
                <li ng-repeat="player in players | filter:searchPlayers">
                    <span ng-click="removePlayer(player.id)"></span>
                    {{player.id}}: {{player.name}}
                </li>
            </ul>

        </ion-content>

    </div>


</ion-view>

