<div ng-include="'views/menu.html'"/>

<div class="container">
    <h2>Players</h2>

    <form role="form">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="playerName" placeholder="Name of player" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="addPlayer()" ng-disabled="playerName.length === 0">Add</button>
                    <button class="btn btn-primary" ng-click="clear()" ng-disabled="playerName.length === 0">Clear</button>
                </span>
            </div>
        </div>
    </form>
    <p></p>

    <p><input type="text" ng-model="searchPlayers" placeholder="Quick search"></p>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="player in players | filter:searchPlayers">
            <span class="badge alert-danger" ng-click="removePlayer(player.id)"><span class="glyphicon glyphicon-remove"/></span>
            {{player.id}}: {{player.name}}
        </li>
    </ul>

</div>

